<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Login</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A cool thing made with Glitch" />

    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap"
      rel="stylesheet"
    />

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/login.css" />

    <!-- import the webpage's client-side javascript file -->
    <!--     <script src="/script.js" defer></script> -->
  </head>

  <body>
    <div class="flexbox-outer">
        <div class="top-header">
          <img
            class="logo"
            src="https://cdn.glitch.com/ecd6bc65-e474-424c-953d-942d04cd5377%2FFake%20Logo%20bold.png?v=1594266585283"
          />
        </div>
        <p id="main-message">
              End of Study.
            </p>
          <div class="sub-message" id="">
             You have not been selected to be part of the official jury.
      </div>
  
     </div>
        <footer class="login-footer">
        <div class="foot-text">
          <img
            class="logo"
            id="footer-logo"
            src="https://cdn.glitch.com/ecd6bc65-e474-424c-953d-942d04cd5377%2FFake%20logo%20light.png?v=1594344923557"
          />
          <div class="footer-text">
            About Us
            <div class="bottom-text">
              We are an analytics team that works tirelessly to provide you with
              the data you need
            </div>
          </div>
          <div class="footer-text">
            Contact Us
            <div class="bottom-text">
              Call: <br />
              Email:
            </div>
          </div>
        </div>
      
   </footer>
  </body>
</html>
