<link rel="stylesheet" href="/aux-pages.css" />

<!-- turn into navigation bar -->
<div class="nav-bar">
  <div class="web-title">
    <a href="/">
      <img
        class="logo"
        src="https://cdn.glitch.com/ecd6bc65-e474-424c-953d-942d04cd5377%2FBar%20Graph%20not%20as%20small.png?v=1597207574995"
      />
    </a>
  </div>
  <ul>
    <li id="login-nav"><a href="/">Login</a></li>
    <li><a href="/new-account">New Account</a></li>
    <li><a href="/new-user-faq">FAQ</a></li>
  </ul>
</div>
  <div class="top-header">
    <h1>Frequently Asked Questions</h1>
  </div>
  <div class="flexbox-outer">
    <div class="question">
      <h5>I forgot my password. How do I obtain it?</h5>
    </div>
    <div class="answer">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas sit
        perferendis quod, ab voluptates facere repellat, debitis sapiente id
        minus aut placeat ipsam asperiores tempora odio modi itaque iusto sunt.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt,
        dolorem?
      </p>
    </div>
    <hr />
    <div class="question">
      <h5>I forgot my Username. How do I obtain it?</h5>
    </div>
    <div class="answer">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas sit
        perferendis quod, ab voluptates facere repellat, debitis sapiente id
        minus aut placeat ipsam asperiores tempora odio modi itaque iusto sunt.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt,
        dolorem?
      </p>
    </div>
    <hr />
    <div class="question">
      <h5>I’m a visitor. How do I login?</h5>
    </div>
    <div class="answer">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas sit
        perferendis quod, ab voluptates facere repellat, debitis sapiente id
        minus aut placeat ipsam asperiores tempora odio modi itaque iusto sunt.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt,
        dolorem?
      </p>
    </div>
    <hr />
    <div class="question">
      <h5>What can I access when I login?</h5>
    </div>
    <div class="answer">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas sit
        perferendis quod, ab voluptates facere repellat, debitis sapiente id
        minus aut placeat ipsam asperiores tempora odio modi itaque iusto sunt.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt,
        dolorem?
      </p>
    </div>
    <hr />
  </div>
  <footer class="login-footer">
    <div class="foot-text">
      <img
        class="logo"
        id="footer-logo"
        src="https://cdn.glitch.com/ecd6bc65-e474-424c-953d-942d04cd5377%2FFake%20logo%20light.png?v=1594344923557"
      />
      <div class="footer-text">
        About Us
        <div class="bottom-text">
          We are an analytics team that works tirelessly to provide you with the
          data you need
        </div>
      </div>
      <div class="footer-text">
        Contact Us
        <div class="bottom-text">
          Call: <br />
          Email:
        </div>
      </div>
    </div>
  </footer>

