<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Instructions</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="instructions" content="Instructions for study" />

    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap"
      rel="stylesheet"
    />

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/instructions.css" />

    <!-- import the webpage's client-side javascript file -->
    <!--     <script src="/script.js" defer></script> -->
  </head>

  <body>
    <div class="flexbox-outer">
      <div class="flexbox-inner">
        <div class="top-header">
          <h1 class="title-text">
            Live Jury Chatroom
          </h1>
          <h2 class="sub-text">
            Instructions:
          </h2>
        </div>
        <p class="main-text">
          In this task, you will be acting as a juror in a legal case.
          <br />
          <br />
          You will first participate in an online jury selection process where
          you answer questions from a judge. The jury selection process is a
          chance for the judge to ask potential jurors questions to ensure they
          could consider the case fairly. Next, if you are selected for the
          jury, you will hear brief presentations from the attorneys on both
          sides of the case, and then discuss the case with your fellow jurors.

          <br />
          <br />
          Voir dire is a chance for judges and lawyers to ask jurors questions
          to ensure the jurors are able to consider the case fairly. Normally,
          jury selection and trials are conducted in person, but in light of
          COVID-19, courts across the country want to transition to an online
          format for jury trials. So, we are testing out methods to resolve
          legal disputes online. This study is vital to advancing how the courts
          work and improving the functioning of our legal system. So, we need
          you to participate seriously and honestly.
          <b
            >Please treat this as a real jury selection and trial, because this
            is an actual case that will soon be decided by a real jury, either
            in person or online. The U.S. court system needs our help to
            determine which trial method is fairest for both parties involved.
          </b>
          <br />
          <br />
          As you enter the chatroom, you will notice that there is no chat bar.
          This is because the judge or admin will unblock the chat bar when it
          is your turn to speak, so everyone gets a turn to respond. You will
          then have the opportunity to enter a text response, multiple choice
          response, or raise your hand.
        </p>
        <div class="flexbox-row">
          <a href="/consent-form"
            ><button class="next-button">
              Next
            </button></a
          >
        </div>
      </div>
    </div>
    <footer class="login-footer">
      <div class="foot-text">
        <img
          class="logo"
          id="footer-logo"
          src="https://cdn.glitch.com/ecd6bc65-e474-424c-953d-942d04cd5377%2FFake%20logo%20light.png?v=1594344923557"
        />
        <div class="footer-text">
          About Us
          <div class="bottom-text">
            We are an analytics team that works tirelessly to provide you with
            the data you need
          </div>
        </div>
        <div class="footer-text">
          Contact Us
          <div class="bottom-text">
            Call: <br />
            Email:
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
