.flexbox-inner {
  justify-content: center;
  align-content: center;
  display: flex;
  flex-direction: column;
}

.flexbox-outer {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;
}
html {
  height: 100vh;
  background-color: #9fc1ea;
}
img.logo {
  width: 40%;
}

body {
  margin: 0px;
}

.top-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.flexbox-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
}

#login-error-msg {
  margin-bottom: 5px;
  color: red;
  display: none;
}
.top-text {
  display: flex;
  align-items: start;
  width: 100%;
}
#sign-in {
  font-size: 30px;
  margin-bottom: 7px;
}
.input-form {
  display: flex;
  align-items: start;
  width: 100%;
  flex-direction: column;
}
.inner-flexbox-form {
  width: 70%;
  margin-top: 40px;
  background-color: #f3f7fc;
  border-radius: 7px;
  padding: 15px 65px;
  padding-bottom: 30px;
}

#username-label {
}
.login-label {
  font-size: 20px;
  margin-bottom: 3px;
}

.login-input {
  padding: 7px 5px;
  width: 100%;
  color: #474747;
  font-size: 15px;
}
.login-button {
  width: 100%;
  margin-top: 35px;
  margin-bottom: 18px;
  padding: 9px;
  color: white;
  background-color: #F5A588;
  border: transparent;
  border-radius: 7px;
  font-size: 22px;
  cursor: pointer;
}
.link {
  margin-top: 16px;
}
/* footer */
.login-footer {
  min-height: 70px;
  width: 100%;
  background-color: #404669;
  margin-top: 100px;
  font-family: "Ubuntu", sans-serif;
  color: #bac6ff;
}
.foot-text {
  justify-content: space-evenly;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
}

#hours {
  line-height: 2;
}

.footer-text {
  font-weight: 600;
  font-size: 13px;
  margin-bottom: 7px;
  margin-top: 20px;
}

.bottom-text {
  font-weight: 400;
  font-size: 10px;
  /*   margin-bottom: 15px; */
}

#footer-logo {
  margin-top: 15px;
  max-width: 130px;
}
